/* #d8d8d8 */
.page-container .main-content .page-title {
    margin: -16px -15px 15px -15px;
}
.page-container .main-content .page-title .title-env .title {
    margin-top: 8px;
}
.sidebar-menu .logo-env {
    padding: 5px 45px 6px 45px;
}
.sidebar-menu .logo-env {
    font-size: 50px;
    font-weight: bold;
}
.sidebar-menu .logo-env a {
    color: #fff;
}
.sidebar-menu .logo-env a img {
    width: 60px !important;
}
.btn-primary,
.btn.btn-secondary {
    background: #FFD800;
    color: #3f3f3f;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:focus{
    color: #3f3f3f;
    background-color: #FFD800;
    border-color: #ffce0b;
}
.label.label-success {
    background: #b3903c;
}
.sidebar-menu {
    background: #3f393a;
}
.sidebar-menu .logo-env {
    border-bottom: 1px solid #FFD800;
}
.sidebar-menu .main-menu {
    /*padding: 20px 0;*/
    padding: 0;
}
.sidebar-menu .main-menu a {
    border-bottom: 1px solid #4f4f4f;
    color: #d8d8d8;
    padding: 13px 20px;
}
.sidebar-menu .main-menu li.active > a {
    color: #fff;
    background: #2e2e2e;
}
.sidebar-menu .main-menu li.has-sub > a:before {
    color: #fff;
}
.sidebar-menu .logo-env .logo {
    float: none;
    text-align: center;
}
.modal .modal-dialog .modal-content .modal-header {
    background: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
}
div.datepicker td, div.datepicker th {
    font-size: 14px;
}
div.datepicker table tr td.active, div.datepicker table tr td.active:hover, div.datepicker table tr td.active.disabled, div.datepicker table tr td.active.disabled:hover {
    background: #FFD800;
    color: #d8d8d8;
}

.selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor {
    background-color: #FFD800;
}
.panel .panel-body {
    color: #4f4f4f;
}
.general-table>tbody>tr>td {
    vertical-align: middle;
}
.cbr-replaced.cbr-turquoise .cbr-state {
    background: #1b1b1b;
    border-color: #7c7c7c;
}
.page-loading-overlay {
    background-color: #FFD800;
}
.sidebar-menu.collapsed .main-menu > li > ul,
.sidebar-menu.collapsed .main-menu > li.active, .sidebar-menu.collapsed .main-menu > li li.active{
    background-color: #FFD800;
}
.drop-property-file {
    text-align: center;
    padding: 20px;
    border: 1px solid #f5d41c;
    background: #f5e528;
    margin-bottom: 20px;
    color: #fff;
}
html .select2-drop .select2-results li.select2-highlighted {
    background: #FFD800;
}

.app-header {
    background-color: #FFD800;
    border-bottom: 2px solid #b4b4b4;
}
.navbar-nav .nav-link {
    color: #fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: none;
}
.app-header .navbar-nav .dropdown-menu {
    margin-top: 8px;
}
.navbar-brand>img {
    height: 32px;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #d7d7d7;
    border-color: #c2c2c2;
    cursor: not-allowed;
}