/**
 *
 * Apply your custom CSS here
 *
*/
a:focus {
    text-decoration: none !important;
}
.padding-row {
    padding: 0 15px;
}
.no-padding-right {
    padding-right: 0;
}
.breadcrumb>li+li:before {
    content: "/";
}
.table > tbody > tr > td {
    padding: 5px 10px;
    vertical-align: middle;
}
.col-sm-8.tab-content img {
    max-width: 100%;
}

/*** over riding for font ****/
td.new,td.old {
    color: #b1b1b1 !important;
}
.user-details a,.story-comment-content a {
    font-family: thaisans_neuebold;
}
.user-info-navbar .user-info-menu > li > a {
    padding: 27px 20px 28px 20px;
}
.datepicker {
    z-index: 5000 !important;
}
.dropdown-menu {
    z-index: 5000 !important;
}

.text-bold {
    font-weight: 600;
}

input.form-control,
textarea.form-control {
    -webkit-appearance: none;
}
@media screen and (max-width:768px) {
    input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        margin-bottom: -3px;
    }
}

.user-info-navbar .user-info-menu > li > a {
    top: 0;
}

.members-table tbody tr td {
    padding: 4px 10px;
}
.table > thead > tr > th {
    padding: 4px 15px;
}

select.form-control {
    padding: 0px 10px;
}
.invoice-logo img {
    max-height: 100px;
    max-width: 100px;
}
address {
    line-height: 1;
}

.sidebar-menu .main-menu li {
    position: relative;
}
.mailbox-env .mail-single .mail-single-info .mail-single-info-user {
    white-space: nowrap;
}

.mailbox-env .mail-single .mail-single-body p {
    line-height: 22px;
}
.profile-env .user-timeline-stories .timeline-story .story-options-links a:focus {
    text-decoration: none;
}
.mailbox-env .mail-single .mail-single-header > h2 .label, .mailbox-env .mail-single .mail-single-header > h2 .badge {
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    padding: 4px 7px;
}
.mailbox-env .mailbox-sidebar .mailbox-list li.active > a:focus {
    text-decoration: none;
}
.user-info-navbar .user-info-menu > li .dropdown-menu .dropdown-menu-list li a, .navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu .dropdown-menu-list li a {
    padding: 10px 20px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 4px 0px 3px 3px!important;
}
html .select2-container.select2-container-multi .select2-choices.error {
    border: 1px solid #cc3f44;
}
.profile-env .profile-post-form .post-story-button {
    opacity: 1;
    margin-top: -2px;
    margin-right: 10px;
    padding: 4px 20px 3px 20px;
}
.invoice-env .table {
    margin: 0;
}
.invoice-env .table > tbody > tr > th {
    padding: 0;
}

.commitee-member {
    text-align:center;
}

.mailbox-env .mail-env .mail-table .col-subject a {
    max-width: 440px;
}
.pagination > li > a, .pagination > li > span {
    line-height: 1.2;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #fff;
    cursor: default;
}
.mailbox-env .mail-env .mail-table > tbody > tr .col-name a {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    /*height: 30px;*/
    float: left;
    padding-top: 4px;
}
.col-name b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    display: inline-block;
    padding-top: 4px;
}

.signature-row {
    margin-top: 30px;
    display: none;
}
.signature-row-copy {
    margin-top: 30px;
    display: none;
}
.signature-sign {
    display:inline-block;
    border-bottom:1px solid #ddd;
    width:130px;
    margin-top: 30px;
    margin-bottom: -5px;
}
.sig-label {
    display: inline-block;
    /*min-width: 200px;*/
}

.print-only-content {
    display: none;
}
.general-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
}
 .general-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.general-table th {
    padding: 3px 5px;
    font-weight: bold;
    border: 1px solid #ddd;
    text-align: center;
}
.general-table td {
    padding: 3px 5px;
    border: 1px solid #ddd;
}
.debtor-table th,
.receipt-table th,
.receipt-invoice-table th{
    vertical-align: middle !important;
    background: #f9f9f9;
}
.withholding-tax {
    margin-top: 10px;
}
.modal-footer button{
    margin-bottom: 10px !important;
    padding: 10px;
    min-width: 100px;
}
.modal-title {
    text-align: center;
    margin-top: 20px;
}
@media print {
    /*.table-responsive{
        border: 1px solid #000 !important;
    }*/
    /*.table-bordered {
        border: 1px solid #000 !important;
    }*/
    .signature-sign{
        border-bottom: 1px solid #3E3E3E;
    }
    .invoice-env .invoice-header{
        border-bottom: 1px solid #3E3E3E;
    }
    hr {
        border-top: 1px solid #3E3E3E !important;
    }
    .table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfood > tr > td, .table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfood > tr > th {
        border: 1px solid #3E3E3E !important;
    }
    /*@page {
        size: 297mm 210mm; !* landscape *!
    }*/
    /*html, body {
        size: 8.5in 11in;
    }*/
    .instalment-log-receipt-link {
        text-decoration: none;
    }
    a:link:after, a:visited:after {
        content: "";
    }
    .general-table {
        min-width: auto;
    }
    .general-table td,
    .general-table th {
        line-height: 13px;
    }

    .signature-row,.print-only-content {
        display: block;
    }

    .signature-row-copy{
        display: block;
    }

    .g-total-block {
        padding-right: 0;
        margin-right: -15px;
    }
    .page-loading-overlay {
        display: none;
    }
    .remark-row {
        line-height: 14px;
        /*margin-bottom:20px;*/
    }
    .invoice-logo img {
        max-height: 50px;
        max-width: 100px;
    }
    /* start a5 size setup */
    .bills-env {
        margin: 0;
        padding: 0;
    }

    .invoice-logo li{
        line-height: 15px;
        padding-bottom: 8px;
    }
    
    .invoice-env .invoice-header{
        padding-bottom: 0;
    }
    .invoice-env .invoice-details {
        padding-top: 5px;
        padding-bottom: 0px;
    }


    .panel .panel-body{
        padding-top: 0;
    }

    .invoice-env .invoice-totals {
        margin-top: 0px;
    }

    .table-responsive {
        margin-bottom: 7px;
    }

    .invoice-env .invoice-totals .invoice-subtotals-totals hr {
        margin: 3px 0;
    }

    hr {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .signature-row {
        margin-top: 0;
    }

    .bills-top,
    .bills-bottom {
        position: relative;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .bills-top {
        top: 0;
        position: relative;
    }

    .bills-bottom {
        bottom: 0;
    }

    .admin-bills {
        margin-left: -175px !important;
        height: 215px !important;
        top: 110px !important;
    }

    .panel {
        padding-top: 0;
        margin-bottom: -10px;
    }

    .table > tbody > tr > td {
        padding: 3px 8px;
        line-height: 100%;
        color: #000 !important;
    }

    .invoice-header .invoice-logo ul li + li {
        margin-top: -7px !important;
    }

    .invoice-detail .list-unstyled li {
        margin-top: -7px !important;
    }

    .table-responsive th {
        font-weight: 500;
    }

    .cut-dotted {
        border-top: 2px dotted #7a7a7a;
    }

    .text-bold {
        font-weight: 100;
    }

    .g-total-block {
        width:40% !important;
    }
    .g-block-left {
        width:60% !important;
    }

    /* end a5 size setup */
    .hidden-print {
        display: none;
    }

    .footer-print {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: right;
    }
    .footer-print img {
        width: 90px;
    }
    .app-header {
        display: none;
    }
}
.vat-mark {
    float:left;
    width:100%;
    display:block;
}
.admin-bills {
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -260px;
    height: 300px;
    top: 260px;
}
.alert .close span {
    text-shadow: none;
    margin-top: 5px;
    display: inline-block;
    margin-right: -5px;
}
.selectboxit .selectboxit-option-icon-container{margin-left:0}
.selectboxit-text {
    max-width: 90% !important;
}
.selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 0;
}
.selectboxit-container .selectboxit-options a{
    padding: 5px 3px 5px 14px;
}
.selectboxit-container li,
.selectboxit-container .selectboxit-options a{
    white-space: normal;
    line-height: 18px;
}
.selectboxit-container a span, .selectboxit-container .selectboxit-options a {
    height: auto;
}
.user-img {
    overflow: hidden;
}
.user-img img {
    border-radius: 50%;
}

.invoice-env .invoice-header .invoice-logo .logo {
    margin-bottom: 0;
}
.invoice-env .invoice-header .invoice-logo {
    max-width: 60%;
}
.invoice-detail {
    max-width: 40%;
}
@media screen and (max-width:768px) {
    .invoice-env .invoice-header .invoice-logo,.invoice-detail {
        max-width: 100%;
        width: 100%;
    }
}

_::-webkit-full-page-media, _:future, :root th {

 font-family: thaisans_neuebold;
}

html .select2-container .select2-choice,
html .select2-container .select2-choice .select2-arrow {
    height: 30px;
}
html .select2-container .select2-choice .select2-chosen {
    line-height: 30px;
    color: #777;
}

html .select2-drop .select2-input {
    padding: 5px 15px;
}
div.datepicker table tr td span.active,
div.datepicker table tr td span.active:hover,
div.datepicker table tr td span.active.disabled,
div.datepicker table tr td span.active.disabled:hover {
    background: #2e7da2;
    color: #fff;
}
.profile-env .user-info-sidebar .user-info-list li {
    text-align: center;
}
.nav.nav-tabs > li > a {
    padding: 15px;
    min-width: 100px;
    text-align: center;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    background: #eee;
}
/**** End overide ******/
.mini-profile-img {
    display: inline-block;
    width: 30px;
    float: left;
    margin-right: 10px;
}
#recaptcha {
	transform:scale(0.98);transform-origin:0;
	-webkit-transform:scale(0.98);
	transform:scale(0.98);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
}
.form-control.error {
    border: 1px solid #cc3f44;
}
.email-error, .error {
	display: block;
    padding-top: 4px;
    color: #cc3f44;
    width: 100%;
}

.feed-block {
    float: left;
    padding: 0 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .feed-block {
        width: 75%;
    }
    .modal-dialog {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .feed-block {
        width: 50%;
    }
}
/** Feed **/
.profile-env .profile-post-form textarea {
    border: 1px solid #eee;
    -webkit-appearance: none;
}
.post-detail a:hover {
    color: #838383;
}
.profile-env .profile-post-form textarea.error {
    border: 1px solid #cc3f44;
    padding: 10px 16px;
}
.post-banner {
    text-align: center;
}
.preview-img-item,
.preview-img-thumbnail-item{
    border: 3px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 5px 0 0;
    position: relative;
    min-width: 80px;
}
.preview-img-item .progress {
    margin: 5px 3px;
}
.preview-img-item.no-border {
    border: 0;
}
.remove-img-preview,
.remove-img-thumbnail-preview {
    position: absolute;
    top: 3px;
    right: 3px;
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    color: #fff;
    background-color: #666;
    cursor: pointer;
    z-index: 3;
}
.upload-name {
    font-size: 13px;
}
.default-banner {
    height: 200px;
    font-size: 35px;
    text-align: center;
    line-height: 200px;
    color: #fff;
    background: #0c0c0c;
    background-image: linear-gradient(to bottom right, black, #535353);
}
@media screen and (max-width:1024px) {
    .remove-img-preview {
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
}
.file-label {
    display: block;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #666;
    color: #fff;
    opacity: 0.8;
    display: none;
    top: 0;
    left: 0;
    line-height: 15px;
    word-wrap: break-word;
}
.file-name {
    width: 145px;
    padding: 5px 0;
    text-align: center;
    float: left;
}
.preview-img-item:hover > .file-label {
    display: block;
}
.story-album div {
    display: inline-block;
}
#loadmoreajaxloader {
    margin: 20px 0;
    text-align: center;
}
.story-album a{
    display: inline-block;
    box-shadow:3px 3px 4px #dcdcdc;
}
.like-section {
    text-decoration: none;
}
.post-liked i {
    color: #0FC11E;
}
.comment-action {
    float: right;
    color: #cacbcb;
}
.comment-action:hover {
    color: #000;
    cursor: pointer;
}

.post-action-loader {
    width: 16px;
    height: 16px;
    float: right;
}
.post-action-btn-group {
    float: right;
}
.post-action-btn-group .btn {
    border: 0;
    color: #cacbcb;
    left: 13px;
}
.post-action-btn-group.btn-group.open .dropdown-toggle,
.post-action-btn-group .btn:hover,
.post-action-btn-group .btn:focus {
    background: none;
    box-shadow:none;
    color: #333;
}
.post-action-btn-group .dropdown-menu,
.complain-action .dropdown-menu{
    right: 0 !important;
    left: auto !important;
    min-width: 110px;
}
.edit-post-action-block {
    text-align: right;
    padding: 10px;
    padding-bottom: 0;
    background-color: #f1f1f1;
}
.thumb {
    display: block;
}
.post-attach{
    margin-top:5px;
}
.post-attach i {
    cursor: pointer;
}
.post-report{
    cursor: pointer;
}

.post-action-btn-group .dropdown-menu.no-spacing:after {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-bottom: 6px solid #DDDDDD;
}
.mini-report {
    margin-left:15px;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.mini-report h3 {
    margin: 0 0 10px;
}
.mini-report span {
    float: right;
}
.mini-report .fa-bolt,
.check-all .fa-bolt,
.invoice-row .fa-bolt {
    color: #ffdd2d;
    text-shadow: 1px 1px 1px #545454;
}
.mini-report .fa-tint,
.check-all .fa-tint,
.invoice-row .fa-tint {
    color: #a0d7e4;
    text-shadow: 1px 1px 1px #545454;
}

.invoice-row .col-md-3 label{
    margin-bottom: 0;
}
#property-util-list label .cbr-replaced {
    margin-right: 0;
}

.user-img-post{
    margin-right: 10px !important;
}
.user-img-post img{
    width: 30px !important;
    height: 30px !important;
}
.timeline-story .mailbox-env .mail-single{
    padding: 0 !important;
    margin-bottom: 0 !important;
}

/** paginate ***/
.next-page.disabled,
.prev-page.disabled {
    color: #DADADA !important;
    cursor: default;
}
.paging_listbox {
    padding-top: 0 !important;
    margin: 10px 0;
}
.paging_listbox select.form-control {
    margin: 0 5px;
    width: 65px;
}

.paging_listbox .next-page,
.paging_listbox .prev-page {
    margin-bottom: 0;
}
/** complain ***/
#attachment:hover,
#attachment_edit:hover {
    cursor: pointer;
    color: #16a085;
}
textarea {
    resize: vertical;
}
.reject {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/reject_icon.png) no-repeat;
    margin-bottom: -3px;
}
.story-row {
    display: block;
    padding: 5px 15px 5px 60px;
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
}
.story-row.invoice-row {
    padding: 5px 5px 5px 60px;
}
.story-row:hover {
    background-color: #fafafa;
}
.story-row div[class*="col-sm-"]  {
    padding-left: 0;
    padding-right: 0;
}
.story-row .row {
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 100%;
}
.s-profile-img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -50px;
    margin-top: 2px;
}
.t-name {
    line-height: 18px;
}

.t-owner-name {
    line-height: 20px;
}
.t-owner-name {
    color: #a9a9a9;
}

.t-action a{
    color: #979898;
    margin-left: 3px;
}
.t-action a:hover {
    color: #373e4a;
}
@media screen and (max-width:767px) {
    .shrink-up{
        margin-top: -21px;
    }
    .t-address{
        text-align: right;
        margin-top: -19px;
    }
    .mini-report {
        margin-left: 0;
    }
}
/** Event **/
.cbp_tmtimeline i.fa,
#event-detail i.fa {
    width: 20px;
    text-align: center;
}
.event-gallery {
    margin-top: 10px;
}
.event-gallery-item {
    display: inline-block;
    max-width: 120px;
    border: 3px solid #666;
    border-radius: 3px;
}
.event-gallery-item img {
    max-width: 100%;
}

#vehicle-content .row .left {
    float: left;
    width: 40%;
    margin-bottom: 10px;
}
#vehicle-content .row .right {
    float: left;
    width: 60%;
    margin-bottom: 10px;
}
.event-block-detail {
    position: relative;
}
.event-action-cc {
    position: absolute;
    right: 20px;
    top: 10px;
}
.event-action-cc.link-edit-event {
    right: 40px;
    top: 10px;
}
/**** Setting *****/
.settings-profile-img,.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    display: inline-block;
}
.property-profile-img {
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    float: left;
}
.property-img {
    max-width: 120px;
}
.profile-img {
    float: left;
}
#upload-profile-pic {
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.7;
}
#upload-profile-pic:hover {
    opacity: 1;
}

#profile-img-input {
    margin-top: 10px;
}
.members-table tbody tr td.action-links a {
    display: block;
}

/*** Vote *****/
.vote-choice {
    padding: 5px 15px;
    background-color: #F2F2F2 !important;
    margin-bottom: 5px !important;
}
.mailbox-env .mail-single .mail-single-info .mail-single-info-options .link-delete-vote {
    color: #fff;
}

/**** Property Admin ****/
.setChief {
    text-align: center;
}
.setChief input {
    float: none !important;
}
.complain-action .dropdown-menu a{
    display: block !important;
    margin-left: 0 !important;
}

/**** Invoice Admin ******/
.print-bill {
    padding: 2px 12px;
}
.action-div {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 50;
    float: right;
}
.action-div .invoice-options {
    float: right;
}
.div-print {
    margin-right: 5px;
}
.invoice-row {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    box-shadow: 1px 1px 7px #EFEFEF;
    clear:both;
}
.invoice-row.disabled {
    color:#c3c3c3;
}
.bills-env .row {
    clear:both;
}
.invoice-head {
    padding: 6px 6px 2px 13px;
    float: left;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
}
.invoice-head .cbr-replaced {
    margin-right: 0;
}
.delete-all {
    margin-bottom: 5px;
    padding: 3px 5px;
    line-height: 22px;
}
.invoice-row:hover {
    background-color: #EFEFFF;
    border-color: #A7B2FF;
}
.invoice-row .action-links {
    padding-right: 4px;
}
.invoice-row div[class*='col-md'] {
    padding-top: 4px;
    margin-bottom: 5px;
}
.invoice-row .btn,
.table-action-link .btn {
    padding: 3px 6px;
    margin-bottom: 0px;
    margin-left: -4px;
}
.invoice-row.activated {
    background: #eeeeee;
    border: 1px solid #f5f5f5;
    color: #565656;
}
.invoice-row.selected {
    border: 1px solid #2e7da2;
}
.invoice-row.activated .invoice-head{
    background: #f5f5f5;
}

.block-input {
    margin-bottom: 15px;
}
.invoice-options .btn {
    margin-bottom: 0;
}
.invoice-env .invoice-header .invoice-options .dropdown-menu {
    min-width: 160px;
}
.action-links .disabled {
    background: #ddd;
    color: #fff;
}
.invoice-action-button {
    position:relative;
    z-index:50;
    margin-top:-80px;
}
.invoice-detail {
    float:right;
}
.invoice-detail strong{
    display: inline-block;
    min-width: 120px;
}
a#addRowBtn i {
    margin-bottom: -3px;
    float: left;
    margin-right: 6px;
}

#itemsTable td {
    text-align: center;
    vertical-align: middle;
}
#itemsTable td.text-right {
    text-align: right;
}
#itemsTable td.text-left {
    text-align: left;
}
.aggregate-invoice-table th {
    text-align: center;
}
.tQty, .tPrice, .tLineTotal {
    text-align: right;
}
.action-float-right {
    margin: 15px 15px -46px 0;
    position: relative;
    z-index: 1;
    float: right;
}
.top-action {
    border-radius: 3px;
    margin: 0;
}
.info-link {
    color: #16A085;
}
.deleteRow {
    cursor: pointer;
}
.deleteRow:hover {
    color: red;
}
.user-image img {
    margin-top: 8px;
    width: 40px;
    height: 40px;
    float: left;
}
.setChief {
    vertical-align: middle;
}
.user-detail {
    margin-left:48px;
}
.user-data-block {
    position: relative;
}
.user-data-block img {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
}
.user-data-block .user-detail {
    margin-left: 80px;
}

.property-col {
    box-sizing: border-box;
    width: 10%;
    display: inline-block;
    float: left;
}
.property-col div {
    padding: 6px 0;
    margin: 5px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    text-align: center;

}
.property-col .paid {
    background-color: #8dc63f;
    border: 1px solid #8dc63f;
    color: #fff;
}
@media (max-width: 768px) {
    .property-col {
        width: 31.8%;
        margin: 5px 0;
    }
}
.cf-sum {
    float: left;
    display: inline-block;
    padding: 13px 0 0;
    margin-left: 15px;
}
.no-report {
    padding-top: 12px;
    text-align: center;
}
.g-total-block {
    width:30%;float:right;padding-right:15px;
    box-sizing: border-box;
}
.g-block-left {
    width:70%;float:left;
}
.g-total-invoice {
    min-width: 100px;
    display:inline-block;
    color: #717272;
}
.invoice-bill-info address {
    margin-bottom: 0;
}
.chart-item-bg {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 30px;
}
@media screen and (max-width:480px) {
    .invoice-env .invoice-header .invoice-options.option-top-md {
        margin-bottom: 10px;
    }
    .option-top-md .btn-group {
        display: inline-block;
        width: 100%;
        padding-right: 5px;
    }
    .option-top-md .btn-group button {
        width: 100%;
    }
    .invoice-action-button {
        position: static;
        margin-top: 0;
    }
    .action-div {
        position: static;
        margin-bottom: 15px;
        width: 100%;
    }
}
.bank-modal-body .bank-row:nth-child(2n) {
    border-top: 1px solid #d6d6d6;
    background: #f0f0f0;
}
.bank-row {
    padding: 10px 0;
}
.bank-row div[class^="col-md"] {
    margin-bottom: 5px;
}
@media screen and (max-width:768px) {
    .bank-logo {
        text-align: center;
        margin-bottom: 20px !important;
    }
    .nav-property-name {
        display: none;
    }
}
.read-status-icon {
    position: absolute;
    bottom: 9px;
    right: 5px;
    display: block;
    color: #ababab;
}
.read-status-icon i {
    margin-top: 4px;
    float: left;
    margin-right: 2px;
}
.instalment-log-receipt-link {
    text-decoration: underline;
}
/*** Property Info ****/
#table-propery-plan td {
    vertical-align: middle;
}
.drop-property-file {
    text-align: center;
    padding: 20px;
    border: 1px solid #969696;
    background: #5f5f5f;
    margin-bottom: 20px;
    color: #d8d8d8;
    cursor: pointer;
}
.drop-property-file.dz-drag-hover {
    text-shadow: 1px 1px 4px #000;
}
.empty-file {
    text-align: center;
}

#search-geo-block {
    height: 40px;
    margin-bottom: -52px;
    text-align: right;
    position: relative;
    z-index: 10;
    margin-right: 79px;
    line-height: 40px;
    float: right;
}
#address {
    background-color: #fff;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#address:focus {
  border-color: #4d90fe;
}
#search-geo-btn {
    margin-top: 15px;
    float: right;
    line-height: 19px;
}
/*** CKEDITOR Overide ****/
.p-about-content blockquote
{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    border-left-width: 5px;
    padding-left: 8px;
    padding-left: 20px;
    margin: 20px;
    margin-left: 40px;
}
.p-about-content blockquote p
{
    margin: 20px 0 !important;
    color: #333;
}

.p-about-content ol,.p-about-content ul,.p-about-content dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding: 0 40px;
}

.p-about-content h1,
.p-about-content h2,
.p-about-content h3,
.p-about-content h4,
.p-about-content h5,
.p-about-content h6
{
    font-family: thaisans_neuebold;
    /*line-height: 1.2;*/
    margin-bottom: 0;
}

.p-about-content hr
{
    border: 0px;
    border-top: 1px solid #ccc;
}

.p-about-content img.right
{
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

.p-about-content img.left
{
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

.p-about-content pre
{
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE7 */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    tab-size: 4;
}

.p-about-content .marker
{
    background-color: Yellow;
}

.p-about-content span[lang]
{
    font-style: italic;
}

.p-about-content figure
{
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

.p-about-content figure > figcaption
{
    text-align: center;
    display: block; /* For IE8 */
}

.p-about-content a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid #0782C1;
}
.p-detail label {
        font-weight: 600;
}

/*** Post Ac as ****/
.p-act-as-block {
    float: right;
    margin-right: -10px;
}
.act-as-option {
    float:left;
    position:relative;
}
.act-as-now {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 2px 8px 1px 3px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: -2px;
}
.act-as-now img {
    margin-top: -7px;
}
.act-as-block {
    position: absolute;
    top: 27px;
    right: 5px;
    z-index: 30;
    background: #fff;
    border: 1px solid #ddd;
    display: none;
    text-align: left;
}
.act-as-block ul {
    margin: 0;
    padding: 0;
}
.act-as-block ul li {
    display: block;
    list-style: none;
    padding: 3px 8px 3px 3px;
    border-bottom: 1px solid #ddd;
}
.act-as-block ul li:hover{
    color: #fff;
    cursor: pointer;
}
.act-as-block ul li img {
    margin-top: -7px;
}
.act-as-block ul li + li {
    border-bottom: 0;
}
.set-sticky-post {
    /*display: none;*/
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    padding: 2px 8px 1px 3px;
    margin-bottom: 3px;
    border: 1px solid #ddd;
    line-height: 20px;
}
.set-sticky-post label {
    margin: 0;
}
.set-sticky-post .cbr-replaced {
    margin-top: 5px;
}
.sticky-post {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/pined.png) no-repeat;
    margin-bottom: -3px;
}
.set-sticky-post .cbr-replaced {
    margin-top: 0;
}

/** Report ****/
.report-profile-img{
    display: block;
    float: left;
    width: 32px;
}
.report-content {
    margin-left: 50px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid #F1F1F1;
}
.reporter-user-name {
    margin: 5px 0;
    display: block;
    font-family: thaisans_neuebold;
}
.report-content time{
    display: inline-block;
    margin-left: 5px;
    color: #9E9E9E;
}

.field-hint {
    color: #8A8A8A;
    letter-spacing: 0.8px;
}

.user-details b {
    color: #1D215E;
}
td.col-name {
    padding-left: 25px !important;
}
.img-feed {
    height: 180px;
}
.invoice-remaining-table td,
.summary-table td {
    padding-top: 14px !important;
    text-align: right;
}

/*.label {
    letter-spacing: 0 !important;
}*/

.table.table-condensed > tbody > tr > th,
.table.table-condensed > tbody > tr > td {
    line-height: 1;
    vertical-align: middle;
}

.table.instalment-table > tbody > tr > th,
.table.instalment-table > tbody > tr > td {
    line-height: 1;
    vertical-align: middle;
    
}
.table.instalment-table > tbody > tr > td + td {
    border-left: 1px solid #eee;
}
.table.instalment-table .form-control {
    text-align: right
}
.table tr.gray {
    background: #f3f3ff !important;
}
.pay-input {
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    height: 40px;
    padding: 0;
}
.pay-input:hover {
    border-bottom: 1px solid #585858;
}
.pay-input:disabled {
        color: #ddd;
}
.sum-result {
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
}
.flex-row {
    display: flex;
}
.table > tbody > tr > th {
    padding: 0px 15px;
    vertical-align: middle;
}

.confirm-expand,
.inst-confirm-expand {
    margin-top: 20px;
    background: #adadad;
    padding-top: 10px;
        box-shadow: 1px 1px 3px #5f5f5f
}
#d-table {
    width: 100% !important;
}

@media (max-width: 480px) {
	#recaptcha {
    	transform:scale(0.77);transform-origin:0;
    	-webkit-transform:scale(0.77);
    	transform:scale(0.77);
    	-webkit-transform-origin:0 0;
    	transform-origin:0 0;
    }
    .action-float-right {
        display: block;
        float: none;
        position: static;
        margin: 10px 0;
    }
    .p-about-content img {
        max-width: 100% !important;
        margin: 0;
        margin-bottom: 10px;
        float: none;
        box-sizing: border-box;
    }
    .act-as-option {
        float: none;
        padding-right: 5px;
    }
    .set-sticky-post {
        margin-top: 10px;
    }
    .p-act-as-block {
        text-align: right;
    }
    .profile-env .profile-post-form .post-story-button {
        float: none !important;
        margin-top: 10px;
    }
}
.mobile-menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .hide-small {
        display: none !important;
    }
    .mobile-menu-toggle {
        display: block;
    }
    .page-container .main-content .page-title .title-env {
        padding-left: 20px;
    }
    .page-container .main-content .page-title .breadcrumb-env {
        padding-right: 10px;
        padding-left: 5px;
        text-align: right;
    }
    .user-info-navbar {
        margin-bottom: 15px;
    }
     .page-container .main-content .page-title {
        margin: -15px -15px 15px -15px;
    }
    .page-container .main-content .main-footer {
        padding:10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .notifications {
        max-width: 295px;
    }
    form.form-inline .form-group + .form-group {
        margin-left: 0;
    }
    .p-detail label {
        width: 50%;
        float: left;
    }
    .data {
        width: 50%;
        float: right;
        margin-bottom: 5px;
    }
    .row-2 {
        margin-top: 15px;
    }
    .flex-row {
        display: block
    }
    .navbar-nav {
        margin: 0;
    }
}

@media (max-width: 379px) {
    .p-detail label,.data {
        width: 100%;
    }
}

@media (max-width: 360px) {

    .img-feed {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 1220px) {
    .post-block-left,.post-block-right {
        width: 100%;
    }
    .post-block-right {
        margin-top: 10px;
        border-top: 1px solid #eee;
        padding-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    #gen-cfc-info-modal .modal-dialog {width:80%;}
    #property-contact-modal .modal-dialog {width:70%;}
    #instalment-modal .modal-dialog {width:60%;}
    .sixty-percent .modal-dialog {width:60%;}
    #change-status-modal .modal-dialog {width:50%;}
    #change-status-modal .col-sm-7,
    #instalment-modal .col-sm-7 {
        padding-top:6px;
        color: #fff;
    }
    
    #left-cdf-modal { border-right: 1px solid #ddd; }
}

@media screen and (min-width: 769px) {
    .sidebar-menu.collapsed .logo-env {
        padding: 17px 0;
    }
}

/** Gender radio button **/
.gender-input {
    margin-top: 7px;
    margin-bottom: 0;
}

.radio_custom input[type=radio] {
    display: none;
}

.radio_custom label:before {
    border-radius: 8px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 10px;
    bottom: 3px;
    background-color: #E8E8E8;
}

.radio_custom input[type=radio]:checked + label:before {
    content: "\2022";
    font-size: 40px;
    text-align: center;
    line-height: 12px;
}
.radio_custom label {
    position: relative;
    padding-left: 24px;
    margin-right: 10px;
}
.paging_simple_numbers {
    font-size: 0;
}
.btn.paginate-link {
    margin-bottom: 0;
    padding-top: 7px;
}
.paginate-select {
    display: inline-block;
    width: 65px;
    margin: 0px 5px;
}
.discussion-report {
    cursor: pointer;
}

/** message ***/
#landing-text-block {
    max-height: 400px;
    overflow-y: auto;
}
.send-message {
    margin-top: 10px;
}
#load-old {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #F7F4F4;
    color: #ADADAD;
}
.message {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 80%;
}

.member-list {
    max-height: 380px;
    overflow-y: auto;
}
.user-reply {
    float: right;
    position: relative;
    background: #fff1f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #ffc3c3 solid 1px;
}

.user-reply:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 5px;
    border-color: transparent #fff1f1;
    display: block;
    width: 0;
    z-index: 1;
    right: -5px;
    top: 50%;
    margin-top: -6px;
}

.user-reply:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 5px;
    border-color: transparent #ffc3c3;
    display: block;
    width: 0;
    z-index: 0;
    right: -6px;
    top: 50%;
    margin-top: -6px;
}

.admin-reply {
    float: left;
    position: relative;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #b4b4b4 solid 1px;
    margin-top: 10px;
}

.admin-reply:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 5px 6px 0;
    border-color: transparent #f7f7f7;
    display: block;
    width: 0;
    z-index: 1;
    left: -5px;
    top: 50%;
    margin-top: -6px;
}

.admin-reply:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 5px 6px 0;
    border-color: transparent #b4b4b4;
    display: block;
    width: 0;
    z-index: 0;
    left: -6px;
    top: 50%;
    margin-top: -6px;
}
.message p {
    color: #6c6c6c;
}
.message time {
    color: #ADADAD;
}
.message read {
    position: absolute;
    font-size: 9px;
    bottom: -7px;
    display: block;
    width: 60px;
    color: #a7a7a7;
}
.admin-reply read {
    left: -66px;
    text-align: right;
}
.user-reply read {
    right: -66px;
    text-align: left;
}
.admin-view .user-reply {
    float:left;
    text-align: left;
}
.admin-view .user-reply:before {
    border-width: 6px 5px 6px 0;
    left: -6px;
}
.admin-view .user-reply:after {
    border-width: 6px 5px 6px 0;
    left: -5px;
}

.admin-view .admin-reply {
    float:right;
    text-align: right;
}
.admin-view .admin-reply:before {
    border-width: 6px 0 6px 5px;
    right: -6px;
    left: auto;
}
.admin-view .admin-reply:after {
    border-width: 6px 0 6px 5px;
    right: -5px;
    left: auto;
}
.res-by {
    position: absolute;
    font-size: 9px;
    bottom: -22px;
    display: block;
    color: #a7a7a7;
    white-space: nowrap;
    right: 0;
}

.member-search {
    border-bottom: 1px solid #eee;
}
.message-user {
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.message-user:hover {
    background: #f3f1f1;
    cursor: pointer;
}
.no-member {
    text-align: center;
    padding: 30px 0;
}
.user-list-pagination {
    border-bottom: 1px solid #eee;
}
.user-list-pagination .all-member {
    float: left;
}
.user-list-pagination .next-prev {
    float: right;
}
.user-list-pagination .prev-page {
    border-right: 1px solid #eee;
}
.user-list-pagination .next-prev {
    font-size: 0;
    line-height: 0;
}
.user-list-pagination .prev-page,
.user-list-pagination .next-page {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.story-row .fa-mail-reply {
    color: #2dbca6;
}
.story-row .fa-mail-forward {
    color: #2e7da2;
}
.m-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8dc63f;
    display: inline-block;
}
.message-latest {
    margin-top: 5px;
}
span.message-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8dc63f;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 10px;
}
.sidebar-menu.collapsed .main-menu > li > a > span.message-active {
    display: block;
    position: absolute;
    right: 6px;
    top: 12px;
}
@media screen and (max-width:768px) {
    span.message-active,
    .sidebar-menu.collapsed .main-menu > li > a > span.message-active {
        top: 50%;
        margin-top: -5px;
        right: 10px;
    }
}
.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.make-read {
    background: #F1F1F1;
}
.make-read:hover {
    background: #E6E6E6;
}
.ps-scrollbar-y-rail {
    z-index: 10;
}
.ps-scrollbar-y {
    z-index: 11;
}

.error__ {
    border: 1px solid #EA0000;
}
.edit-details-head h2{
    margin-top: 0;
    border-bottom: 2px solid #2E7DA2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.revision-details .control-label {
    font-family: thaisans_neuebold;
}
.attachment-error {
    display: none;
}
/** App download overlay */
.download-app-overlay {
    position:fixed;
    height:60px;
    width:100%;
    background:#1daf92;
    z-index:50;
    bottom:0;left:0;
    border-top: 3px solid #ddd;
    text-align: center;
}
.overlay-app-content {
    font-family: thaisans_neuebold;
    color: #fff;
    padding-top: 10px;
    position: relative;
}
.close-overlay {
    color: #000;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    z-index: 60;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0px;
    cursor: pointer;
    background: #ddd;
}
.overlay-app-content img {
    margin-right: 10px;
    margin-top: -6px;
}
.overlay-app-content span {
    padding-top: 7px;
    display: inline-block;
}

.selectboxit-container select {
    width: 100% !important;
}
.ui-pnotify{
    cursor: pointer !important;
}

/***** Fee Bill Report *****/
.bank-report th { text-align: center; }
.bank-report td { vertical-align: middle !important; }

/******* new switch box style for support firefox browser ****/
label.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {display:none;}

.slider_ {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_ {
  background-color: #2196F3;
}

input:focus + .slider_ {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider_.round {
  border-radius: 18px;
}

.slider_.round:before {
  border-radius: 50%;
}
.short-pay-btn > i.fa-check-square {
    display: none;
}
.short-pay-btn:disabled {
    border: 2px solid #000;;
}
.short-pay-btn:disabled > i.fa-check-square {
    display: inline-block;
}
.short-pay-btn:disabled > i.fa-square {
    display: none;
}
.cash-deposit-log-table {
    width: 100%;
}
.cash-deposit-log-table th {
    background: #efefef;
}
.cash-deposit-log-table th,.cash-deposit-log-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 3px 5px;
}
.cash-deposit-log-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.canceled-invoice td {
    color: red !important;
}

/*** admin table ***/
.order-table tbody > tr.even {
    background: #fafafa;
}
/*
.order-table tbody:nth-child(odd),
.tbody-stripped-table tbody:nth-child(odd) {
    background: #fafafa;
}
.order-table tbody:hover,
.order-table tbody.selected {
    background: #e9e9e9;
    cursor: pointer;
}
.order-table thead th {
    text-align: center;
}
.order-table tbody:hover > tr > td,
.order-table tbody.selected > tr > td{
    border-color: #fff;
} */
.modal .modal-dialog .modal-content {
    overflow: visible;
}
.p-item {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #0b4b97;
    background: #f6f6f6;
    position: relative;
    padding-right: 18px;
}
.remove-p {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 3px;
    text-align: center;
}
.remove-p:hover {
    background: #ffffff;
    cursor: pointer;
}
.p-auto-search {
    position: relative;
    z-index: 20;
}
.a-loading {
    position: absolute;
    max-height: 200px;
    background: #fff;
    top: 33px;
    left: 15px;
    width: 93.5%;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 20;
    border: 4px solid #6c6c6c;
    background: #efefef;
}
.p-item-search {
    border-top: 1px solid #ddd;
    padding: 5px;
}
.p-item-search:hover {
    cursor: pointer;
    background: #ddd;
}
.selected-p-list {
    max-height: 400px;
    overflow-y: auto;
}
.a-loading {
    display: none;
}

.custom-input {
    height: 32px;
    padding: 6px 12px;
    width: 272px;
    border: 1px solid #e4e4e4;
}
.from-to {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 4px;
}
.block-label {
    padding-top: 6px;
}

.action-links a i,
.table-action-link a i{
    font-size: 14px;
}
tbody tr td.action-links a {
    font-size: 14px;
    line-height: 22px;
}
tbody tr td.action-links a i {
    font-size: 12px;
}
.action-links .btn {
    padding: 3px 6px;
    margin-bottom: 0px;
    min-width: 30px;
}
.validate-has-error .selectboxit-text,
html .validate-has-error .select2-container .select2-choice .select2-chosen {
    color: #cc3f44;
}
span.validate-has-error {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}
#new-password {
    padding-right: 30px;
}
#show-password {
    position: absolute;
    right: 21px;
    top: 3px;
    border: 0;
    background: #fff;
    color: #919191;
    width: 20px;
    height: 20px;
    outline: none;
}
.display-password-block {
    margin: 15px 0;
}
#generated-password {
    font-size: 30px;
    font-weight: bold;
}
.copy-clipboard {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.copy-clipboard:before {
    font-size: 10px;
}
.copy-clipboard:hover {
    background: #ddd;
    cursor: pointer;
}
.table > thead > tr > td:after, .table > thead > tr > th:after {
    display: none;
}
.table.table-bordered > tbody > tr > td {
    vertical-align: middle;
}
.sidebar-menu.fixed .sidebar-menu-inner {
    top: 64px;
}
.navbar-toggler {
    color: #fff;
    outline: none;
}
@media screen and (min-width: 769px) {
    .sidebar-menu.collapsed {
        width: 0px;
        overflow: hidden;
    }
}
/* Img Banner **/
.preview-crop,.preview-thumbnail-crop {
    overflow: hidden;
    border: 3px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 5px 0 0;
    min-width: 80px;
    display: none;
}
.img-container,.thumbnail-img-container {
    border: 3px solid #ddd;
    border-radius: 3px;
    display: none;
    margin-top: 5px;
}
.mce-error {
    border: 1px solid #ec0500 !important;
}
.action-links .btn {
    min-width: 30px;
}

/* Message box */
.messages-box {
    border: 1px solid #ddd;
    padding: 5px;
    cursor: text;
}
#txt-msg {
    border: 0;
    outline: none;
    width: 100%;
    height: 20px;
    resize: none;
}
.chat-action {
    text-align: right;
    font-size: 0;
    height: 20px;
}
.chat-action i {
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.chat-upload-progress {
    width: 388px;
}
.preview-img-item.chat-preview {
    max-width: 400px;
}
.preview-img-item.chat-preview img {
    max-width: 100%;
}
.message {
    max-width: 400px;
    word-wrap: break-word;
}
.message img {
    max-width: 100%;
    max-height: 400px;
}
.message {
    color: #000;
}
.message time {
    display: block;
    line-height: 10px;
    margin-bottom: -8px;
    margin-right: -5px;
    margin-top: 5px;
}
    /***** badge *****/
.badge-success {
    color: #fff;
    background-color: #4dbd74;
}
.badge-warning {
    color: #23282c;
    background-color: #ffc107;
}
.badge-danger {
    color: #fff;
    background-color: #f86c6b;
}
.badge-info {
    color: #23282c;
    background-color: #63c2de;
}
.property-name-head {
    color: #565656;
}
.header-notif-list .mark-as-read {
    background: #f5f5f5;
}
.dropdown-menu > li > a.disabled-link {
    background: #fafafa;
    cursor: not-allowed;
    color: #d3d3d3;
}
/** Login and welcome page ***/
.login-form {
    background: #fff;
    border-radius: 10px;
    color: #000;
}
.login-header img {
    max-width: 100%;
}
.logo img {
    float: left;
    margin-right: 20px;
    max-width: 100%;
}
.login-page .login-form .login-header .logo div {
    padding-top: 11px;
    font-size: 38px;
    line-height: 41px;
    color: #d8d8d8;
}
.login-page .login-form .form-group .form-control {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    color: #000;
}
.login-page .login-form {
    padding: 30px 50px;
}
.btn {
    text-align: center !important;
}
.login-page .login-form .form-group .btn {
    background: #FFD800;
    color: #565656;
    border: 1px solid #f5e140;
    border-radius: 3px;
}
.login-page .login-form .form-group .btn:hover {
    background: #f5e528;
}
.login-page .login-form  {
    margin-top: 10px;
}
.login-page {
    background: #3f393a;
    padding-top: 70px;
}

/* ----- 8. Checkbox ----- */
.radio label, .checkbox label {
    padding-left: 0;
}
.radio, .checkbox {
    margin: 0;
}
.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #000;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3a3a3a;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.cbx span:last-child {
    padding-left: 8px;
}
.cbx:hover span:first-child {
    border-color: #3a3a3a;
}

.inp-cbx:checked + .cbx span:first-child {
    background: #3a3a3a;
    border-color: #555555;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
.lost-pwd {
    color: #000;
}
.lost-pwd:hover {
    color: #777777;
}